
.footer
{
    height: 50px;
    background-color: rgb(77, 82, 82);
    color:whitesmoke;
}
.footer h6
{
line-height: 50px;font-size:12px;
}
.ont #p1{
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 10%;
}
.ont #p2{
    margin-top: 3%;
    font-size: 18px;
    text-align: center;
    }
.ont #p3
{
    font-size: 23px;
    text-align: center;
}
.ont #p4
{
    font-size: 23px;
    text-align: center;
}

.ont input
{
    height: 25px;
    width: 250px;
    margin-left: 42%;
}
.ont textarea
{
    height: 50px;
    width: 250px;
    margin-left: 42%;
}
.ont button
{
    border:none;
    height: 50px;
    margin-top: 3%;
    margin-left: 45%;
    margin-bottom: 5%;
    width: 150px;
    font-size: 16px;
    border-radius: 7px;
    background-color: rgb(22, 32, 80);
}
.ont button a
{
    text-decoration: none;
    color:rgb(241, 241, 241);
}



/*----------------------------------------------------------------*/
@media(max-width:500px)
{
    
.footer
{
    height: 50px;
    background-color: rgb(77, 82, 82);
    color:whitesmoke;
}
.footer h6
{
line-height: 50px;font-size:12px;
}
.ont #p1{
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 15%;
}
.ont #p2{
    margin-top: 3%;
    font-size: 15px;
    text-align: center;
    }
.ont #p3
{
    font-size: 18px;
    text-align: center;
}
.ont #p4
{
    font-size: 23px;
    text-align: center;
}

.ont input
{
    height: 25px;
    width: 250px;
    margin-left: 29%;
}
.ont textarea
{
    height: 50px;
    width: 250px;
    margin-left: 29%;
}
.ont button
{
    border:none;
    height: 50px;
    margin-top: 3%;
    margin-left: 38%;
    margin-bottom: 15%;
    width: 150px;
    font-size: 16px;
    color:whitesmoke;
    border-radius: 7px;
    background-color: rgb(22, 32, 80);
}
}
