#g1 
{
  font-size: 2.5rem;color: rgb(29, 80, 20);
  font-weight:600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin-top: 5%;
  padding-left: 40%;
  padding-right: 20%;
 }
.gallery
{
  background-color: rgb(236, 243, 240);
}
.gal img
{
  height: 200px;width: 290px;margin:  3%;
  border: 2px solid black;
  
}
.gal
{
  margin-left: 13%;
  padding-bottom: 3%;
}
.footer
{
    height: 50px;
    background-color: rgb(77, 82, 82);
    color:whitesmoke;
}
.footer h6
{
line-height: 50px;
}
.ont #p1{
font-size: 30px;
font-weight: bold;
text-align: center;
}
.ont #p2{
    font-size: 18px;
    text-align: center;
    }

@media(max-width:500px)
{
    #g1 
{
  font-size: 2.5rem;color: rgb(29, 80, 20);
  font-weight:600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 15%;
  padding-left: 40%;
  padding-right: 20%;
 }
.gallery
{
  background-color: rgb(236, 243, 240);
}
.gal img
{
  height: 200px;width: 290px;margin:  3%;
  border: 2px solid black;
  
}
.gal
{
  margin-left: 18%;
  padding-bottom: 3%;
}
}